################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SGS_Production_20_08/v16
/SGS/SGS/SGS_DEPLOYMENTPROJECT/.vs/Practice/v16/Server/sqlite3
